pipeline/pl_incrementalloadsqltosql.json
{
	"name": "pl_incrementalloadsqltosql",
	"properties": {
		"activities": [
			{
				"name": "copydatatoadls",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lkforuspGetCopyActivitySQLToADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@{activity('lkforuspGetCopyActivitySQLToADLS').output.firstRow.CopyActivitySQLQuery} where @{activity('lkforuspGetCopyActivitySQLToADLS').output.firstRow.watermarkcolumn} > '@{activity('lkgetoldwatermarkvalue').output.firstRow.LogWaterMarkValue}' and @{activity('lkforuspGetCopyActivitySQLToADLS').output.firstRow.watermarkcolumn} <= '@{activity('lkgetnewwatermarkvalue').output.firstRow.Max_ModifiedDate}'\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_adk_table",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adk_csv",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "lkforuspGetCopyActivitySQLToADLS",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "lkgetoldwatermarkvalue",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "lkgetnewwatermarkvalue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[uspGetCopyActivitySQLToADLS]",
						"storedProcedureParameters": {
							"CopyActivitySQLTable": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.CopyActivitySQLTable",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_metadatadb",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "lkgetoldwatermarkvalue",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[GetWaterMarkValue]",
						"storedProcedureParameters": {
							"CopyActivitySQLTable": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.CopyActivitySQLTable",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_metadatadb",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "lkgetnewwatermarkvalue",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT MAX(ModifiedDate) as Max_ModifiedDate FROM @{pipeline().parameters.CopyActivitySQLTable}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_metadatadb",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "splogwatermarkvalue",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "copydatatoadls",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[LogWaterMarkValue]",
					"storedProcedureParameters": {
						"CopyActivitySQLTable": {
							"value": {
								"value": "@pipeline().parameters.CopyActivitySQLTable",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"CopyActivitySQLTable": {
				"type": "string",
				"defaultValue": "Address"
			},
			"CopyActivitySQLDBConnectionString": {
				"type": "string",
				"defaultValue": "sqldb"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-04-07T16:13:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}